/.vscode/settings.json
/Lab1-1.rar
/Lab1-1.zip
/Lab1-2.rar
/Lab1-2.zip
/lab2.zip
/LAB3_4.zip
bee_hive-20261003T150338Z-1-001/bee_hive/video_ing_folder/Honey Straight From The Beehive.mp4
bee_hive-20261003T150338Z-1-001/bee_hive/video_ing_folder/video_2.mp4
bee_hive-20261003T150338Z-1-001/bee_hive/video_ing_folder/video_index_sesion_2.mp4
bee_hive/video_ing_folder-20261004T041223Z-1-001/video_ing_folder/Honey Straight From The Beehive.mp4
bee_hive/video_ing_folder-20261004T041223Z-1-001/video_ing_folder/video_2.mp4
bee_hive/video_ing_folder-20261004T041223Z-1-001/video_ing_folder/video_index_sesion_2.mp4
